.footer {
  width: 100%;
  background-color: rgb(38 67 195);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 1rem;
  min-height: 250px;
  max-width: 1360px;
  margin: auto;
}

.flex-container {
  text-align: center;
  margin: 0;
  padding: 0;
  flex: 1;
}

img {
  width: 3rem;
}
